*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:'Arial',sans-serif;
}

h1,h2,h3,h4,h5{
    text-align:center;
}

.container{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    padding:5rem;
}

.nav-contain{
    display:flex;
    justify-content:center;
    padding:2rem;
    font-size:1.5rem;
    background:#333;
    box-shadow: -1px 2px 10px 0px rgba(0,0,0,0.48);
}

input,button{
    padding:1rem;
    font-size:1rem;
    margin-top:15vh;
}

ul{
    list-style:none;
    text-align:center;
}

li{
    padding:1rem;
}

.drink_btn{
    margin-top:1rem!important;
    width:100%;
}

.drink-image{
    width:100%;
    height:100%;
}

.drink{
    /* height:15rem; */
    width:15rem;
    display:flex;
    flex-direction:column;
    margin:1rem;
    justify-content: space-between;
    background:lightgray;
    padding:0.5rem;
    border-radius:0.5rem;
}

.img-container{
    height:75%;
}

.img-container img{
    height:100%;
    width:100%;    
}

.drink_btn{
    /* min-height:25%; */
    display:flex;
    justify-content: center;
    align-items:center;
    height:20%;
    margin-top:0;
}

.drink_btn:hover{
    cursor:pointer;
}

.drinks-list{
    width:50%;
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-top:2rem;
}

.nav-link{
    display:contents;
    color:#4183ff;
}

.tesco_result{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1.2rem;
}

.cocktail-img-contain{
    width: 25%;
    margin:4rem;
}

.cocktail-img-contain img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50rem;
}

.error{
    background: lightblue;
    padding: 2rem;
    border-radius: 5rem;
}

hr{
    width:100%;
    margin:1rem;
}

/* On screens that are 992px wide or less, the background color is blue */
@media screen and (max-width: 992px) {
    .container{
        padding: 2rem 1rem 2rem 1rem;
    }
    .home-form{
        display:flex;
        flex-direction:column;
    }

    .home-submit{
        margin-top:1rem;
    }

    .drinks-list{
        width:unset;
    }

    .cocktail-img-contain{
        width:unset;
    }

    .tesco_result{
        height:unset;
        width:unset;
    }
  }
  